@import "Variables";

form {
  .form-item {
    margin-bottom: 1em;
    label {
      display: block;
      font-size: 14px;
    }

    input, textarea {
      border: 2px solid rgba(128, 128, 128, 0.2);
      width: 200px;

      transition: border $transition-time ease-in-out;
      &:hover {
        border: 2px solid rgba(128, 128, 128, 0.4);
      }
    }
  }

  button {
    border: 2px solid rgba(128, 128, 128, 0.2);
    background-color: #FFF;
    border-radius: $border-radius;
    padding: 0.4em;

    transition: border $transition-time ease-in-out;
    &:hover {
      border: 2px solid rgba(128, 128, 128, 0.4);
      cursor: pointer;
    }
  }
}
