@import "Variables";

@mixin alert-config($color: $primary) {
    border-left: 5px solid $color;
    background-color: rgba($color, 0.3);
}

.alert {
    margin: 1em 0;

    .alert-body {
        padding: 1em;
        border-radius: $border-radius;
        min-height: 50px;
        height: auto;

        &.alert-success {
            @include alert-config($success)
        }

        &.alert-warning {
            @include alert-config($warning)
        }

        &.alert-danger {
            @include alert-config($danger);
        }

        .alert-title {
            display: flex;
            flex-direction: row;
            align-items: center;

            .icon {
                flex: 1;

                svg {
                    height: 25px;
                }
            }

            p {
                flex: 9;
                margin: 0;
            }
        }
    }
}
