@import "Variables";

@mixin button-config($color: $primary) {
    background-color: $color;
    border: 2px solid rgba($color, 0.2);
    &:hover {
        background-color: rgba($color, 0);
        border: 2px solid rgba($color, 0.8);
        color: #000;
        cursor: pointer;
    }
}

button {
    width: 125px;
    font-size: 14px;
    border-radius: $border-radius;
    color: #FFF;
    padding: 0.5em;

    transition: border $transition-time ease-in-out,
    background-color $transition-time ease-in-out,
    color $transition-time ease-in-out;

    @include button-config();

    &.button-success {
        @include button-config($success);
    }

    &.button-warning {
        @include button-config($warning);
    }

    &.button-danger {
        @include button-config($danger);
    }
}
