@import "Variables";

form {
  .web-form {
    width: 100%;
    margin: 0 auto;
    padding: 0.5em 0;
    .form-item {
      margin-bottom: 1em;

      label {
        display: block;
        font-weight: bold;
        font-size: 14px;
      }

      input, textarea {
        padding: 0.5em;
        width: 100%;
        border: 2px solid rgba(128, 128, 128, 0.2);
        border-radius: $border-radius;
        transition: border $transition-time ease-in-out;

        &:hover {
          border: 2px solid rgba($primary, 0.8);
        }
      }
    }

    button {
      width: 125px;
      font-size: 14px;
      border: 2px solid rgba($primary, 0.2);
      border-radius: $border-radius;
      background-color: $primary;
      color: #FFF;
      padding: 0.5em;

      transition: border $transition-time ease-in-out,
      background-color $transition-time ease-in-out,
      color $transition-time ease-in-out;

      &:hover {
        background-color: rgba(#FFF, 1);
        border: 2px solid rgba($primary, 0.8);
        color: #000;
        cursor: pointer;
      }
    }
  }
}
