@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

@import "Variables";

//Imports
@import "Form";
@import "Alert";
@import "Badge";

@import "Tasks";

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  width: 100%;
}

h2 {
  font-size: 20px;
}

h1, h2, h3 {
  margin: 0;
}

html {
  body {
    margin: 0;
    padding: 0;
  }

  textarea, select, input, button {
    margin: 0;
    outline: none;
  }
  section {
    padding: 50px 35% 0;
  }
}
