@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

@import "Variables";

//Imports
@import "Form";
@import "Alert";
@import "Badge";

@import "Tasks";

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

html {
  section {
    padding: 50px 20% 0;
  }
}
