@import "Variables";

.task-list {
  .task-row {
    display: flex;
    flex-direction: row;
    height: 40px;
    margin: 1em 0;
    padding: 0.5em;
    background-color: rgba($primary, 1);
    border: 2px solid $primary;
    border-radius: $border-radius;
    color: #FFF;

    p {
      flex: 1;
      margin: 0;
    }

    transition: border $transition-time ease-in-out,
    background-color $transition-time ease-in-out,
    color $transition-time ease-in-out;
    &:hover {
      background-color: rgba(#FFF, 1);
      color: #000;
      cursor: pointer;
    }

  }

  .task-row-none {
    height: 50px;
    padding: 1em;
    border-radius: $border-radius;
    background: repeating-linear-gradient(
                    45deg,
                    rgba(128, 128, 128, 0.2),
                    rgba(128, 128, 128, 0.2) 10px,
                    rgba(128, 128, 128, 0.3) 10px,
                    rgba(128, 128, 128, 0.3) 20px
    );

    &:hover {

    }
  }
}
